@import 'colors/typography-light';
@import 'colors/typography-dark';
@import 'addon/variables';
@import 'variables-hook';
@import 'addon/module';
@import 'addon/syntax';
@import 'addon/commons';
@import 'layout/home';
@import 'layout/post';
@import 'layout/tags';
@import 'layout/archives';
@import 'layout/categories';
@import 'layout/category-tag';

/* Custom styles for details and summary tags */
.content details {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 20px;
  background-color: #f6f8fa;
  color: #24292e;
  margin-bottom: 1rem;
}

.content summary {
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
